In [1]:
import pandas as pd

In [3]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index = ['d','b','a','c'])

In [5]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [6]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [7]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [8]:
obj2 = obj.reindex(['a','b','c','d','e'],fill_value = 0)

In [9]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

In [11]:
obj3 = pd.Series(['blue','purple','yellow'],index = [0,2,4])

In [12]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [13]:
obj3.reindex(range(6),method = 'ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [14]:
import numpy as np

In [18]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index =  ['a','c','d'],columns = ['Ohio','Texas','California'])

In [19]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [20]:
frame2 = frame.reindex(['a','b','c','d'])

In [21]:
frame2

   Ohio  Texas  California
a     0      1           2
b   NaN    NaN         NaN
c     3      4           5
d     6      7           8

In [22]:
states = ['Texas','Utah','California']

In [23]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [24]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [25]:
frame.drop('c')

   Ohio  Texas  California
a     0      1           2
d     6      7           8

In [26]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [28]:
frame['Ohio']

a    0
c    3
d    6
Name: Ohio, dtype: int64

In [30]:
frame.ix['a'] #进行行索引

Ohio          0
Texas         1
California    2
Name: a, dtype: int64

In [31]:
frame.ix['a','Ohio']

0

In [32]:
obj= pd.Series([4,3,1,2])

In [34]:
obj.sort_values()  #按值来排序

2    1
3    2
1    3
0    4
dtype: int64

In [35]:
obj.sort_values(ascending=False)

0    4
1    3
3    2
2    1
dtype: int64

In [50]:
frame = pd.DataFrame({'ratings':[4.2,3.7,3.9,4.8,4.5],'popularity':[631,450,772,728,431]})

In [51]:
frame

   popularity  ratings
0         631      4.2
1         450      3.7
2         772      3.9
3         728      4.8
4         431      4.5

In [52]:
b = frame.sort_values('ratings',ascending=False)

In [53]:
b

   popularity  ratings
3         728      4.8
4         431      4.5
0         631      4.2
2         772      3.9
1         450      3.7

In [54]:
b['ratings']>4

3     True
4     True
0     True
2    False
1    False
Name: ratings, dtype: bool

In [57]:
temp = b[b['ratings']>4].sort_values('popularity')

In [60]:
temp

   popularity  ratings
4         431      4.5
0         631      4.2
3         728      4.8

In [61]:
b

   popularity  ratings
3         728      4.8
4         431      4.5
0         631      4.2
2         772      3.9
1         450      3.7

In [64]:
result = temp.append(b[b['ratings']<=4])

In [65]:
result

   popularity  ratings
4         431      4.5
0         631      4.2
3         728      4.8
2         772      3.9
1         450      3.7

In [66]:
result[:3]

   popularity  ratings
4         431      4.5
0         631      4.2
3         728      4.8

In [72]:
a = result.columns

In [73]:
a[0]

'popularity'

In [75]:
result.describe()

       popularity   ratings
count     5.00000  5.000000
mean    602.40000  4.220000
std     156.49377  0.443847
min     431.00000  3.700000
25%     450.00000  3.900000
50%     631.00000  4.200000
75%     728.00000  4.500000
max     772.00000  4.800000

In [76]:
data = pd.Series(np.random.randn(10),index = [['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]])
##层次化索引

In [77]:
data

a  1   -1.495447
   2    0.572536
   3   -0.397295
b  1    0.736004
   2    0.481039
   3   -1.569690
c  1   -0.876360
   2   -0.198143
d  2   -1.756772
   3   -0.164903
dtype: float64

In [78]:
data.index

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [79]:
data['b']

1    0.736004
2    0.481039
3   -1.569690
dtype: float64

In [80]:
data[:2]

a  1   -1.495447
   2    0.572536
dtype: float64

In [81]:
data[:,2]

a    0.572536
b    0.481039
c   -0.198143
d   -1.756772
dtype: float64