In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#多级索引
columns = pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],[1,3,5,1,3]],names = ['cty','tenor'])

In [4]:
columns

MultiIndex(levels=[[u'JP', u'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=[u'cty', u'tenor'])

In [5]:
hier_df = pd.DataFrame(np.random.randn(4,5),columns=columns)

In [6]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -1.101681 -0.138417  0.619966 -0.944091  1.379247
1      0.776857 -0.970453  1.067469  1.039143 -0.664437
2      0.988476  1.684642  0.498661 -0.002427 -0.019332
3      0.155944  0.525575  0.779862  2.029930 -0.633415

In [8]:
hier_df.groupby(level ='cty',axis = 1).max()

cty        JP        US
0    1.379247  0.619966
1    1.039143  1.067469
2   -0.002427  1.684642
3    2.029930  0.779862

In [9]:
frame = pd.DataFrame({'data1':np.random.randn(1000),'data2':np.random.randn(1000)})

In [10]:
frame[:5]

      data1     data2
0  1.132158  1.582285
1  1.927705 -0.292047
2 -0.162491  0.713740
3  0.165509 -1.981489
4  1.214119 -0.592293

In [11]:
factor = pd.cut(frame.data1,4)

In [12]:
factor[:5]

0     (0.363, 2.109]
1     (0.363, 2.109]
2    (-1.383, 0.363]
3    (-1.383, 0.363]
4     (0.363, 2.109]
Name: data1, dtype: category
Categories (4, object): [(-3.136, -1.383] < (-1.383, 0.363] < (0.363, 2.109] < (2.109, 3.855]]

In [13]:
def get_status(group):
    return {'min':group.min(),'max':group.max(),'count':group.count(),'mean':group.mean()}

In [14]:
grouped = frame.data2.groupby(factor)

In [15]:
grouped

In [17]:
grouped.apply(get_status).unstack()

                  count       max      mean       min
data1
(-3.136, -1.383]     82  3.085303 -0.001231 -1.837123
(-1.383, 0.363]     583  2.536599 -0.021191 -3.007880
(0.363, 2.109]      318  2.566697 -0.022883 -2.809785
(2.109, 3.855]       17  2.195444 -0.350288 -2.025711

In [18]:
grouping = pd.qcut(frame.data1,10,labels = False)#labels = False表示只获取分位数的编号

In [19]:
grouped = frame.data2.groupby(grouping)

In [22]:
grouped.apply(get_status).unstack()

       count       max      mean       min
data1
0        100  3.085303  0.035014 -1.837123
1        100  2.255028  0.038699 -2.014256
2        100  2.536599  0.071881 -2.889927
3        100  2.243944 -0.191463 -2.308616
4        100  2.246281 -0.077578 -3.007880
5        100  2.489014  0.040868 -2.476690
6        100  2.480068 -0.051795 -2.276180
7        100  2.307211  0.065349 -2.586534
8        100  2.566697 -0.146115 -2.325063
9        100  2.254744 -0.041731 -2.809785

In [24]:
#构造扑克牌
suits = ['H','S','C','D']
card_val = (range(1,11)+[10]*3)*4

In [26]:
base_names = ['A'] + range(2,11)+['J','Q','K']

In [35]:
cards = []
for suit in ['H','S','C','D']:
    cards.extend(str(num)+suit for num in base_names)

In [42]:
deck = pd.Series(card_val,index = cards)

In [43]:
deck[:5]

AH    1
2H    2
3H    3
4H    4
5H    5
dtype: int64

In [44]:
def draw(deck,n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [48]:
draw(deck)

8C     8
JS    10
9H     9
5S     5
QS    10
dtype: int64

In [53]:
np.random.permutation(4)  #产生一个排列

array([0, 3, 1, 2])

In [67]:
def get_suit(deck):
    return [card[-1] for card in deck.index]

In [69]:
get_suit2 = lambda card :card[-1]

In [66]:
deck.groupby(get_suit(deck)).apply(draw,n=2)

C  9C      9
   AC      1
D  9D      9
   6D      6
H  JH     10
   QH     10
S  10S    10
   9S      9
dtype: int64

In [70]:
deck.groupby(get_suit2).apply(draw,n=2)

C  JC    10
   5C     5
D  6D     6
   8D     8
H  7H     7
   6H     6
S  2S     2
   3S     3
dtype: int64