In [2]:
!cat  /home/wangyong/python_learn_test/pydata-book/examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('~/python_learn_test/pydata-book/examples/ex1.csv')

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('/home/wangyong/python_learn_test/pydata-book/examples/ex1.csv',sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
!cat /home/wangyong/python_learn_test/pydata-book/examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('/home/wangyong/python_learn_test/pydata-book/examples/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('/home/wangyong/python_learn_test/pydata-book/examples/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
#使用某一列来作为索引
pd.read_csv('/home/wangyong/python_learn_test/pydata-book/examples/ex2.csv',names=['a','b','c','d','message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
list(open('/home/wangyong/python_learn_test/pydata-book/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [15]:
pd.read_table('/home/wangyong/python_learn_test/pydata-book/examples/ex3.txt',sep = '\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
!cat /home/wangyong/python_learn_test/pydata-book/examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [19]:
#跳过一些行
pd.read_csv('/home/wangyong/python_learn_test/pydata-book/examples/ex4.csv',skiprows=[0,2,3],nrows=2)

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [21]:
!cat /home/wangyong/python_learn_test/pydata-book/examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [22]:
import csv

In [23]:
f = open('/home/wangyong/python_learn_test/pydata-book/examples/ex7.csv')

In [24]:
reader = csv.reader(f)

In [25]:
reader

In [26]:
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [33]:
lines = list(csv.reader(open('/home/wangyong/python_learn_test/pydata-book/examples/ex7.csv')))

In [34]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [35]:
header,values = lines[0],lines[1:]

In [45]:
data_dict = {h:v for h,v in zip(header,zip(*values))}

In [46]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [47]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [48]:
zip(*values)

[('1', '1'), ('2', '2'), ('3', '3')]

In [49]:
values.append(['3','4','5'])

In [50]:
zip(*values)

[('1', '1', '3'), ('2', '2', '4'), ('3', '3', '5')]

In [52]:
import numpy as np

In [53]:
data = pd.DataFrame(np.arange(6).reshape((2,3)),index = pd.Index(['Ohio','Colorado']),columns = pd.Index(['One','Two','Three']))

In [54]:
data

          One  Two  Three
Ohio        0    1      2
Colorado    3    4      5

In [55]:
data.stack()  #列旋转为行

Ohio      One      0
          Two      1
          Three    2
Colorado  One      3
          Two      4
          Three    5
dtype: int64

In [56]:
data.unstack()

One    Ohio        0
       Colorado    3
Two    Ohio        1
       Colorado    4
Three  Ohio        2
       Colorado    5
dtype: int64

In [57]:
data

          One  Two  Three
Ohio        0    1      2
Colorado    3    4      5

In [58]:
data = pd.DataFrame({'k1':['one']*3+['two']*4,'k2':[1,1,2,3,3,4,4]})

In [59]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [60]:
#判断是否有重复行
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [61]:
data.drop_duplicates()

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [62]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [64]:
#离散化
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

In [65]:
bins = [18,25,35,60,100]

In [67]:
cats = pd.cut(ages,bins)

In [68]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [69]:
cats.labels

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: 'labels' is deprecated. Use 'codes' instead
  """Entry point for launching an IPython kernel.

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [70]:
cats.levels

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Accessing 'levels' is deprecated, use 'categories'
  """Entry point for launching an IPython kernel.

Index([u'(18, 25]', u'(25, 35]', u'(35, 60]', u'(60, 100]'], dtype='object')

In [71]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [72]:
#qcut 等分划分，每一个划分里数量差不多
data = np.random.randn(1000)

In [73]:
cats = pd.qcut(data,4)

In [74]:
cats

[[-3.789, -0.673], (-0.673, 0.0275], (0.0275, 0.702], (-0.673, 0.0275], (0.0275, 0.702], ..., (-0.673, 0.0275], (-0.673, 0.0275], (-0.673, 0.0275], (-0.673, 0.0275], (0.702, 3.0309]]
Length: 1000
Categories (4, object): [[-3.789, -0.673] < (-0.673, 0.0275] < (0.0275, 0.702] < (0.702, 3.0309]]

In [75]:
pd.value_counts(cats)

(0.702, 3.0309]     250
(0.0275, 0.702]     250
(-0.673, 0.0275]    250
[-3.789, -0.673]    250
dtype: int64

In [77]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})

In [78]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [79]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [80]:
pd.get_dummies(df['key'],prefix = 'key')

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [81]:
mnames = ['movie_id','title','genres']

In [83]:
movies = pd.read_table('/home/wangyong/PycharmProjects/test2/movielens/movies.dat',sep = '::',header = None,
                      names = mnames,engine='python')

In [84]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [93]:
genre_iter = (set(x.split('|')) for x in movies.genres)

In [94]:
genre_iter

In [95]:
genres = sorted(set.union(*genre_iter))

In [96]:
genres

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [97]:
dummies = pd.DataFrame(np.zeros((len(movies),len(genres))),columns=genres)

In [105]:
dummies.ix[:10,:5]

    Action  Adventure  Animation  Children's  Comedy
0        0          0          0           0       0
1        0          0          0           0       0
2        0          0          0           0       0
3        0          0          0           0       0
4        0          0          0           0       0
5        0          0          0           0       0
6        0          0          0           0       0
7        0          0          0           0       0
8        0          0          0           0       0
9        0          0          0           0       0
10       0          0          0           0       0

In [109]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [110]:
for i,gen in enumerate(movies.genres):
    dummies.ix[i,gen.split('|')]=1

In [113]:
dummies[:5]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [114]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [115]:
movies_windic[:5]

,movie_id,title,genres,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Crime,Genre_Documentary,...,Genre_Fantasy,Genre_Film-Noir,Genre_Horror,Genre_Musical,Genre_Mystery,Genre_Romance,Genre_Sci-Fi,Genre_Thriller,Genre_War,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
movies_windic.ix[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Action                                   0
Genre_Adventure                                0
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Crime                                    0
Genre_Documentary                              0
Genre_Drama                                    0
Genre_Fantasy                                  0
Genre_Film-Noir                                0
Genre_Horror                                   0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Romance                                  0
Genre_Sci-Fi                                   0
Genre_Thriller                                 0
Genre_War                                      0
Genre_Western                                  0
Name: 0, dtype: object